NEXT_PUBLIC_CHAIN_ID=91342
NEXT_PUBLIC_RPC_URL=https://sepolia-rpc.giwa.io
NEXT_PUBLIC_FLASHBLOCKS_RPC_URL=https://sepolia-rpc-flashblocks.giwa.io
NEXT_PUBLIC_EXPLORER_URL=https://sepolia-explorer.giwa.io
NEXT_PUBLIC_EAS_CONTRACT_ADDRESS=0x4200000000000000000000000000000000000021
NEXT_PUBLIC_SCHEMA_REGISTRY_ADDRESS=0x4200000000000000000000000000000000000020
NEXT_PUBLIC_SCHEMA_UID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Server-only, DO NOT commit
DEPLOYER_PRIVATE_KEY=
